<template name="availability">
    <div class="section">
        <div class="row valign-wrapper">
            <div class="col s5 offset-s1">
                <select id="timelength">
                    <option value="0" disabled selected>Select timeslot length</option>
                    <option value="1">:05</option>
                    <option value="2">:10</option>
                    <option value="3">:15</option>
                    <option value="4">:20</option>
                    <option value="5">:30</option>
                    <option value="6">:60</option>
                </select>
            </div>
            <div class="col s3">
                <label for="week" class>Week</label>
                <input type="date" class="datepicker" id="week">
            </div>
            <div class="col s1 offset-s1">
                <a class="btn-floating btn-large waves-effect waves-light blue darken-4" id="availSubmitBtn"><i class="mdi-action-done"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1" id="gridcontainer">
                {{> freegrid}}
            </div>
        </div>
    </div>
</template>
