<template name="availability">
    <div class="section">
        <div class="row valign-wrapper">
            <div class="col s3 offset-s1">
                <label for="week" class>Week</label>
                <input type="date" class="datepicker" id="week">
            </div>
            <div class="col s1 offset-s1">
                <a class="btn-floating btn-large waves-effect waves-light blue darken-4" id="availSubmitBtn"><i class="mdi-action-done"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1" id="gridcontainer">
                {{> freegrid}}
            </div>
        </div>
    </div>
</template>
