<template name="freegrid">
    <table id="selectable">
        <table>
            <thead>
                <tr>
                    <th class="colhead timelabel" style="border-top: none;">Time</th>
                    {{#each days}}
                        <th class="colhead">{{this}}</th>    
                    {{/each}}                                       
                </tr>
            </thead>
            <tbody class="gridbody">
                {{#each rows}} 
                    {{> gridrow}}
                {{/each}}
            </tbody>
        </table>
    </table>    
</template>
