<template name="import">	
	<div class="section">
		<div class="row valign-wrapper">			
			<div class="col s2">
				<p>Select Week to Import:</p>
			</div>
            <div class="col s4">
                <label for="week" class>Week</label>
                <input type="date" class="datepicker" id="week">
            </div>
            <div class="col s1" id="authorize-div">
                <a class="btn-floating btn-large waves-effect waves-light blue darken-4" id="authorize-button"><i class="material-icons">add</i></a>
            </div>
        </div>
	</div>	
</template>