<template name="layout">
    <nav>
        <div class="nav-wrapper blue darken-4">
            <div class="container">
                <a href="/" class="brand-logo">I'm Free</a>
                <a href="" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/availability">Availability</a></li>
                    <li><a href="/import">Import</a></li>
                    <li>{{> loginButtons}}</li>
                </ul>
            </div>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/availability">Availability</a></li>
                <li><a href="/import">Import</a></li>
                <li>{{> loginButtons}}</li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {{> yield }}
    </div>
</template>
