body {
	font-family: 'Dosis', 'Quicksand', sans-serif;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color: #0d47a1;
}
.picker__close, .picker__today, .picker__day.picker__day--today {
	color: #0d47a1;
}

.picker__date-display {
	background-color: #0d47a1;
}

.picker__weekday-display {
	background-color: #8c9eff;
}

#login-buttons a, .accounts-dialog a {
	text-decoration: none;
}

.dropdown-content li > a, .dropdown-content li > span {
  display: block;
  padding: 1rem 1rem;
  color: #0d47a1;
}

thead {
	border: none;
}

td.timeslot {
	border-bottom: none;
	border-color: black;
  	border-radius: 0px;
}

.timelabel {
	border-top: 1px solid black;
	font-size: 14px;
	vertical-align: center;
	text-align: center;
	padding: 10px 5px;
}

.colhead {
	border-left: 1px solid black;
	text-align: center;
	font-size: 14px;
}

.row .gridcol {
	padding: 0px;
	text-align: center;
	margin: 1px;
}

#selectable .timeslot { 
	background: #f44336;
	font-size: 1em; 
	padding: 0px 0px;
}

#selectable .ui-selecting { 
	background: #66bb6a; 
}

#selectable .ui-selected { 
	background: #43a047; 
	color: white; 
}

#selectable { 	
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}
